---
import dayjs from "dayjs";
import { getBlogPosts } from "../../lib/contentful";
import { calculateTimeToRead } from "../../lib/utils";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import Button from "../../components/Button.astro";
import PostStars from "../../components/PostStars";

export async function getStaticPaths() {
  const items = await getBlogPosts();

  const posts = items.map((item) => ({
    params: { slug: item.slug },
    props: {
      ...item,
      timeToRead: calculateTimeToRead(item.content),
    },
  }));

  return posts;
}

const { content, title, date, excerpt, timeToRead, slug, featuredImage } =
  Astro.props;
---

<BaseLayout title={title} description={excerpt} image={featuredImage}>
  <article class="space-y-10">
    <div class="text-center max-w-4xl mx-auto">
      <PageTitle>{title}</PageTitle>
    </div>

    <div
      class="flex justify-center items-center space-x-10 text-xs tracking-widest text-slate-600 dark:text-slate-400"
    >
      <p class="uppercase">
        {dayjs(date).format("MMMM YYYY")}
      </p>
      <p class="uppercase">
        {
          timeToRead === 0
            ? "less than a minute"
            : `${timeToRead} ${timeToRead === 1 ? "minute" : "minutes"}`
        }
      </p>
    </div>

    <div
      class="prose prose-slate dark:prose-invert mb-16 max-w-3xl mx-auto text-pretty"
      set:html={content}
    />

    <div class="flex items-center justify-between max-w-3xl mx-auto md:pb-20">
      <Button as="a" href="/blog">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 mr-2"
        >
          <path
            fill-rule="evenodd"
            d="M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z"
            clip-rule="evenodd"></path>
        </svg>
        Back to the archive
      </Button>
      <PostStars client:visible slug={slug} />
    </div>
  </article>
</BaseLayout>
